<div class='code-block-container'>
  <pre>
<code><span class='token function'>fetch</span><span class='token punctuation'>(</span><span class='token string'>'https://mock-products-api.herokuapp.com/products<%= pathname %>'</span><span>)</span>
  <span class='token punctuation'>.</span><span class='token function'>then</span><span class='token punctuation'>(</span><span class='token paramter'>response</span> <span class='token operator'>=> </span>response<span class='token punctuation'>.</span><span class='token function'>json</span><span class='token punctuation'>(</span><span class='token punctuation'>)</span><span class='token punctuation'>)</span>
  <span class='token punctuation'>.</span><span class='token function'>then</span><span class='token punctuation'>(</span><span class='token paramter'>data</span> <span class='token operator'>=> </span>console<span class='token punctuation'>.</span><span class='token function'>log</span><span class='token punctuation'>(</span>data<span class='token punctuation'>)</span><span class='token punctuation'>)</span></code></pre>
  <button class='copy-btn'><i class='fa-regular fa-copy'></i></button>
</div>
