<footer>
  <a href="https://github.com/ding-09" target="_blank" aria-label='link to Github'
    ><i class="fa-brands fa-github"></i
  ></a>
  <p>Designed and built by <a href="https://github.com/ding-09">ding-09</a></p>
</footer>
