<article class='route'>
  <h3 class='heading'>Get <span class='url pathname'>/products<%=pathname%></span></h3>
  <p class='description'><%= description %></p>
  <%- include('codeBlock')%>
</article>
