* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1b1b1b;
  color: #f9f9f9;
  font-family: 'Courier Prime', monospace;
  padding: 3rem 2.4rem 0;
  letter-spacing: 0.1rem;
}

header {
  margin-bottom: 2.4rem;
}

header h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

header p {
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

footer .fa-github {
  color: #3ef100;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

footer a {
  color: #f9e361;
  text-decoration: none;
  font-weight: 700;
}

.base-url {
  margin-bottom: 3rem;
}

.heading {
  color: #3ef100;
}

.routes {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.route h3 {
  text-transform: uppercase;
}

.url {
  color: #f9e361;
  text-transform: lowercase;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 700;
}

.description {
  font-size: 1.1rem;
}

.token.function {
  color: #53fa19;
}

.token.punctuation {
  opacity: 0.5;
}

.token.string {
  color: #f9e361;
}

pre {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1.6rem 3rem 1.6rem 1.4rem;
}

code {
  font-size: 1.1rem;
}

.code-block-container {
  background-color: #282828;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 1);
  line-height: 1.6rem;
  margin-top: 1.4rem;
  position: relative;
}

.copy-btn {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  cursor: pointer;
}

.fa-copy {
  color: #f9f9f9;
}
