// COLORS
$primary-bg-color: #1b1b1b;
$primary-text-color: #f9f9f9;
$theme-text-color: #3ef100;
$code-bg-color: #282828;
$code-fn-text-color: #53fa19;
$url-text-color: #f9e361;

// BREAKPOINTS
$responsive-md: 768px;
$responsive-lg: 992px;
$responsive-xl: 1200px;
$responsive-2xl: 1440px;
