@use '../abstracts/variables';
.copy-btn {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  cursor: pointer;
  .fa-copy {
    color: variables.$primary-text-color;
  }
  @media screen and (min-width: variables.$responsive-md) {
    top: 1.2rem;
    right: 1.6rem;
    .fa-copy {
      font-size: 1.6rem;
    }
  }
  @media screen and (min-width: variables.$responsive-md) {
    top: 1.6rem;
    right: 2rem;
  }
}
