@use '../abstracts/variables';
@use '../components/buttons';
@use '../components/tooltip';

.code-block-container {
  background-color: variables.$code-bg-color;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 1);
  line-height: 1.6rem;
  margin-top: 1.4rem;
  position: relative;
}

pre {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1.6rem 4rem 1.6rem 1.4rem;
}

code {
  font-size: 1.1rem;
  font-weight: 700;
  .token.function {
    color: variables.$code-fn-text-color;
  }
  .token.punctuation {
    opacity: 0.5;
  }
}
