@use '../abstracts/variables';

.routes {
  margin-bottom: 5.2rem;
  .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .route {
      h3 {
        text-transform: uppercase;
      }
      .pathname {
        font-weight: 700;
      }
      .description {
        letter-spacing: 0;
      }
    }
  }
  // media query
  @media screen and (min-width: variables.$responsive-md) {
    margin-bottom: 10rem;
    .container {
      gap: 5.6rem;
    }
  }
  @media screen and (min-width: variables.$responsive-xl) {
    .container {
      gap: 8rem;
    }
  }
}
